SmartHome.Handler/Service References/SmartHomeServiceReference/SmartHomeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartHomeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53592/SmartHomeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53592/SmartHomeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartHomeService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_Restart_InputMessage">
    <wsdl:part name="parameters" element="tns:Restart" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_Restart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_IsOn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOn" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeService_IsOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartHomeService">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeService/Start" message="tns:ISmartHomeService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeService/StartResponse" message="tns:ISmartHomeService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeService/Stop" message="tns:ISmartHomeService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeService/StopResponse" message="tns:ISmartHomeService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeService/Restart" message="tns:ISmartHomeService_Restart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeService/RestartResponse" message="tns:ISmartHomeService_Restart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeService/IsOn" message="tns:ISmartHomeService_IsOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeService/IsOnResponse" message="tns:ISmartHomeService_IsOn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartHomeService" type="tns:ISmartHomeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeService/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeService/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeService/Restart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOn">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeService/IsOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartHomeService">
    <wsdl:port name="BasicHttpBinding_ISmartHomeService" binding="tns:BasicHttpBinding_ISmartHomeService">
      <soap:address location="http://localhost:53592/SmartHomeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>